<span style='color: #000' title='Frames'>   764</span><span style='color: #009' title='Memory'>  22768.00 KB</span><span style='color: #900' title='Time'>   2374.34 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />